@import url('//at.alicdn.com/t/font_707938_qdcxphu8qi.css');

body{
  font-family: 'Microsoft YaHei';
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: #fff;
}
ul,li{
  margin: 0;
  padding: 0;
  border: 0;
}
.outer-wrap{

}



.nav-header{
  position: fixed;
  top:0;
  left:0;
  right: 0;
  background-color: #fff;
}
.header-wrap{
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
}
.title{
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #104698;
  font-size: 21px;
}
.title>a{
  margin-right: 5px;
}
.title>a>img{
  width: auto;
  max-height: 33px;
}
.vertical-align{

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  color: #111;
}
.loginimg{
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

